* {
  margin: 0px;
}

.rent-background {
  min-height: 100vh;
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rent-items-container {
  width: 95%;
  font-family: "Microsoft Sans Serif";
  margin-top: 55px;
}
.rent-heading {
  font-size: 25px;
  font-weight: 600;
  font-family: "Microsoft Sans Serif";
}
@media (max-width: 767px) {
  .rent-heading {
    font-size: 19px;
  }
}
.heading-searchbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
@media (max-width: 767) {
  .heading-searchbar-container {
    justify-content: flex-start;
  }
}
.search-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 9px;
  border: 1px solid #d5d7db;
  width: 25%;
  font-family: "Microsoft Sans Serif";
  border-radius: 5px;
}
@media (max-width: 767px) {
  .search-container {
    width: 45%;
    padding: 3px;
    font-size: 11px;
  }
}
@media (max-width: 997px) and (min-width: 767px) {
  .search-container {
    width: 45%;
  }
}
.search-input {
  border: 0px;
  outline: none;
}
@media (max-width: 767px) {
  .search-input {
    width: 65%;
  }
}
.search-dropdown-btn {
  border: 0px;
  width: 21px;
  height: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 55px;
}
.search-dropdown-image {
  width: 11px;
}
.filters-container {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}
.filter {
  display: flex;
  flex-direction: column;
  width: 21%;
  height: 125px;
}
@media (max-width: 767px) {
  .filter {
    width: 50%;
  }
}
#text::placeholder {
  color: hsl(0, 0%, 0%);
  opacity: 1;
  font-family: "Microsoft Sans Serif";
}
.input {
  border: 0px;
  outline: none;
  padding-top: 7px;
  font-size: 17px;
}
.input2 {
  width: 21px;
  border: 0px;
  outline: none;
  margin-left: 11px;
  margin-bottom: 11px;
}

label {
  opacity: 0.5;
  font-family: "Microsoft Sans Serif";
  font-size: 15px;
}
.date-folder {
  display: flex;
  align-items: center;
  padding-top: 7px;
}
.date-para {
  color: #000;
  font-size: 17px;
  font-family: "Microsoft Sans Serif";
  margin-right: 5px;
}

.submit-btn {
  background-color: #7950f2;
  color: #ffffff;
  border: 0px;
  padding-right: 17px;
  padding-left: 17px;
  padding-top: 11px;
  padding-bottom: 11px;
  margin-right: 15px;
  font-weight: 500;
  border-radius: 5px;
  font-family: "Microsoft Sans Serif";
}
ul {
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 35px;
}
.submit-button-container {
  margin-top: 11px;
}
